body {
  height: 100%;
  font-family: sans-serif;
  margin: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}
* {
  &::after,
  &::before {
    box-sizing: border-box;
  }
  box-sizing: border-box;
}

.wrapper {
  padding: 50px 0 0;
  height: 100%;
  background-image: url(../data/bg1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.portfolio {
  max-width: 1180px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 50px 0;
  font-family: 'Gloria Hallelujah', cursive;
  position: relative;
  z-index: 2;
  background-color: rgba(0,0,0,0.5);
  &__title {
    font-size: 56px;
    line-height: 60px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    text-align: center;
    margin: 0 0 30px;
    text-shadow: 2px 2px 2px #000;
  }
  &__list {
    @extend %clear-list;
    @extend %clearfix;
    text-align: center;
  }
  &__hover {
    display: none;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    z-index: 2;
  }
  &__btn-block {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    a {
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      padding: 10px 20px;
      background-color: #fff;
      font-size: 14px;
      font-weight: 600;
      transition: .3s;
      border-radius: 10px;
    }
  }
  &__image {
    position: relative;
    text-align: center;
    height: 100%;
    img {
      vertical-align: top;
      display: inline-block;
      max-height: 100%;
      max-width: 100%;
      height: auto;
      width: auto;
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__item-name {
    border: 4px solid;
    height: 70px;
    background-color: #fff;
    line-height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    right: 0;
    font-size: 18px;
    font-weight: 600;
  }
  &__item {
    display: inline-block;
    box-sizing: border-box;
    max-width: 380px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #000;
    height: 200px;
    width: 100%;
    overflow: hidden;
    position: relative;
    &:hover {
      .portfolio__hover {
        display: block;
      }
    }
    &.author {
      .portfolio__btn-block a {
        color: $author;
        &:hover {
          background-color: $author;
          color: #fff;
        }
      }
      .portfolio__item-name {
        border-color: $author;
        color: $author;
      }
    }
    &.layout {
      .portfolio__btn-block a {
        color: $layout;
        &:hover {
          background-color: $layout;
          color: #fff;
        }
      }
      .portfolio__item-name {
        border-color: $layout;
        color: $layout;
      }
    }
    &.yokngalam {
      .portfolio__btn-block a {
        color: $yokngalam;
        &:hover {
          background-color: $yokngalam;
          color: #fff;
        }
      }
      .portfolio__item-name {
        border-color: $yokngalam;
        color: $yokngalam;
      }
    }
    &.tanatos {
      .portfolio__btn-block a {
        color: $tanatos;
        &:hover {
          background-color: $tanatos;
          color: #fff;
        }
      }
      .portfolio__item-name {
        border-color: $tanatos;
        color: $tanatos;
      }
    }
    &.modus {
      .portfolio__btn-block a {
        color: $modus;
        &:hover {
          background-color: $modus;
          color: #fff;
        }
      }
      .portfolio__item-name {
        border-color: $modus;
        color: $modus;
      }
    }
    &.design {
      .portfolio__btn-block a {
        color: $design;
        &:hover {
          background-color: $design;
          color: #fff;
        }
      }
      .portfolio__item-name {
        border-color: $design;
        color: $design;
      }
    }
    &.carkeys {
      .portfolio__btn-block a {
        color: $carkeys;
        &:hover {
          background-color: $carkeys;
          color: #fff;
        }
      }
      .portfolio__item-name {
        border-color: $carkeys;
        color: $carkeys;
      }
    }
    &.hmstore {
      .portfolio__btn-block a {
        color: $hmstore;
        &:hover {
          background-color: $hmstore;
          color: #fff;
        }
      }
      .portfolio__item-name {
        border-color: $hmstore;
        color: $hmstore;
      }
    }
  }
}
