<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
  <body>
    <div class="wrapper">
      <div class="wrapper__overlay"></div>
      <div class="portfolio">
        <div class="portfolio__title">
          My portfolio
        </div>
        <ul class="portfolio__list">
          <li class="portfolio__item">
            <div class="portfolio__hover">
              <div class="portfolio__btn-block">
                <a href="https://github.com/AntonLatyshev/test-author" class="portfolio__link-github">My code</a>
                <a href="https://antonlatyshev.github.io/author" class="portfolio__link-host">Real page</a>
              </div>
            </div>
            <div class="portfolio__image">
              <div class="portfolio__overlay">
                <div class="portfolio__item-name">Author</div>
              </div>
              <img src="data/author.jpg" alt="author" title="author">
            </div>
          </li>
          <li class="portfolio__item">
            <div class="portfolio__hover">
              <div class="portfolio__btn-block layout">
                <a href="https://github.com/AntonLatyshev/test-layout2" class="portfolio__link-github">My code</a>
                <a href="https://antonlatyshev.github.io/riffpoint" class="portfolio__link-host">Real page</a>
              </div>
            </div>
            <div class="portfolio__image">
              <div class="portfolio__overlay layout">
                <div class="portfolio__item-name layout">Layout2</div>
              </div>
              <img src="data/layout.jpg" alt="author" title="author">
            </div>
          </li>
          <li class="portfolio__item">
            <div class="portfolio__hover">
              <div class="portfolio__btn-block yokngalam">
                <a href="https://github.com/AntonLatyshev/YokNgalam" class="portfolio__link-github">My code</a>
                <a href="https://antonlatyshev.github.io/YokNgalam" class="portfolio__link-host">Real page</a>
              </div>
            </div>
            <div class="portfolio__image">
              <div class="portfolio__overlay yokngalam">
                <div class="portfolio__item-name yokngalam">YokNgalam</div>
              </div>
              <img src="data/yokngalam.jpg" alt="author" title="author">
            </div>
          </li>
          <li class="portfolio__item">
            <div class="portfolio__hover">
              <div class="portfolio__btn-block tanatos">
                <a href="https://github.com/AntonLatyshev/TanatosStudio" class="portfolio__link-github">My code</a>
                <a href="https://antonlatyshev.github.io/TanatosStudio" class="portfolio__link-host">Real page</a>
              </div>
            </div>
            <div class="portfolio__image">
              <div class="portfolio__overlay tanatos">
                <div class="portfolio__item-name tanatos">TanatosStudio</div>
              </div>
              <img src="data/tanatos.jpg" alt="author" title="author">
            </div>
          </li>
          <li class="portfolio__item">
            <div class="portfolio__hover">
              <div class="portfolio__btn-block modus">
                <a href="https://github.com/AntonLatyshev/modusversus" class="portfolio__link-github">My code</a>
                <a href="https://antonlatyshev.github.io/modusversus" class="portfolio__link-host">Real page</a>
              </div>
            </div>
            <div class="portfolio__image modus">
              <div class="portfolio__overlay modus">
                <div class="portfolio__item-name modus">ModusVersus</div>
              </div>
              <img src="data/modus.jpg" alt="modus">
            </div>
          </li>
          <li class="portfolio__item">
            <div class="portfolio__hover">
              <div class="portfolio__btn-block design">
                <a href="https://github.com/AntonLatyshev/AssociatesDesign" class="portfolio__link-github">My code</a>
                <a href="https://antonlatyshev.github.io/AssociatesDesign" class="portfolio__link-host">Real page</a>
              </div>
            </div>
            <div class="portfolio__image design">
              <div class="portfolio__overlay design">
                <div class="portfolio__item-name design">AssociatesDesign</div>
              </div>
              <img src="data/design.jpg" alt="author" title="author">
            </div>
          </li>
          <li class="portfolio__item">
            <div class="portfolio__hover">
              <div class="portfolio__btn-block carckeys">
                <a href="https://github.com/AntonLatyshev/Carckeys" class="portfolio__link-github">My code</a>
                <a href="https://antonlatyshev.github.io/carckeys" class="portfolio__link-host">Real page</a>
              </div>
            </div>
            <div class="portfolio__image carckeys">
              <div class="portfolio__overlay carckeys">
                <div class="portfolio__item-name carckeys">Carckeys</div>
              </div>
              <img src="data/carckeys.jpg" alt="author" title="author">
            </div>
          </li>
        </ul>
      </div>
    </div>
    {% include 'js.html' %}
  </body>
</html>
